<div class="mx-2 mb-4">
  <div class="card" style="width: 15rem; height: 100%">
    <a [href]="project.projectUrl" target="_blank" rel="noopener noreferrer">
      <img
        [src]="
          project.pictureUrl ||
          'https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/256x256/plain/briefcase.png'
        "
        class="card-img-top"
        alt="Proyect Image"
      />
    </a>
    <div class="card-body" >
      <div>
        <h4 class="card-title">{{ project.projectTitle }}</h4>
        <p class="card-text">{{ project.description }}</p>
      </div>
      <div class="d-flex m-2 justify-content-center">
        <app-icon-btn [type]="'edit'"></app-icon-btn>
        <app-icon-btn [type]="'delete'"></app-icon-btn>
      </div>
    </div>
  </div>
</div>
