<!--BARRA NAVEGACION-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">Mariana Madeira</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Educacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Proyectos</a>
        </li>
      </ul>
     
      <div class="px-3" style="font-size: 1.8em; color: azure">
        <i class="fab fa-facebook ml-4"></i>
        <i class="fab fa-instagram ml-3"></i>
        <i class="fab fa-twitter ml-3"></i>
        <button
          class="btn btn-outline-light ml-3 p-2 align-middle"
          type="button"
        >
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
      </div>
    </div>
  </div>
</nav>
