<header class="card m-2 mt-0" id="home">
  <div>
    <img src="/assets/cover.png" alt="" class="card-img-top" />
  </div>
  <app-profile-pic></app-profile-pic>
  <div class="d-flex justify-content-between mt-5 pt-5 p-4">
    <div>
      <div>
        <h2 class="d-inline">Mariana Madeira</h2>
        <i class="fas fa-edit align-self-center"></i>
      </div>
      <p class="mb-0">Java Backend Junior</p>
      <p class="mb-0">Buenos Aires, Argentina</p>
    </div>
  </div>
  <div class="p-4 pt-0">
    <a href="#" class="btn btn-primary">Tengo interés en</a>
    <a href="#" class="btn btn-outline-secondary mx-1">Añadir sección</a>
    <a href="#" class="btn btn-outline-secondary">Más</a>
  </div>
</header>