<app-navbar></app-navbar>
<app-header></app-header>
<app-seccion></app-seccion>

<section class="card m-2 p-4" >
  <!--EXPERIENCIA-->
  <div class="d-flex justify-content-between my-2" id="experience">
    <h3>Experiencia</h3>
    <i class="fa fa-plus align-self-center"></i>
  </div>
  <!--Entrada-->
  <!-- 
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="/assets/nko_38.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Backend Developer</h4>
        <p class="my-0">Lorem ipsum dolor sit amet</p>
        <h4 class="text-secondary">2019 - actualidad</h4>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
  -->
  <!--EDUCACIÓN-->

  <div class="d-flex justify-content-between my-2" id="education">
    <h3>Educación</h3>
    <i class="fa fa-plus align-self-center"></i>
  </div>

  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="/assets/ap borde.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Argentina Programa: #YoProgramo</h4>
        <p class="my-0">Ministerio de Desarrollo Productivo</p>
        <p class="text-secondary">Noviembre 2021 - Mayo 2022</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="/assets/adaitw.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Java Backend</h4>
        <p class="my-0">AdaITW</p>
        <p class="text-secondary">2021 - actualidad</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="/assets/polotic.jpg"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Desarrollo Web Fullstack con Java con perfil Junior</h4>
        <p class="my-0">PoloTIC Misiones</p>
        <p class="text-secondary">Marzo 2021 - Agosto 2021</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="/assets/ap borde.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Argentina Programa: #SéProgramar</h4>
        <p class="my-0">Ministerio de Desarrollo Productivo</p>
        <p class="text-secondary">Octubre 2020 - Diciembre 2020</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <img
        src="/assets/UNO-logo.png"
        alt=""
        style="width: 60px; height: auto"
        class="align-self-start"
      />
      <div class="mx-3">
        <h4>Licenciatura en Informática</h4>
        <p class="my-0">Universidad Nacional del Oeste</p>
        <p class="text-secondary">2012 - 2014 | 2021 - Actualidad</p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
</section>

<!--SKILLS-->
<section class="card m-2 p-4">
  <div class="d-flex justify-content-between my-2" id="skills">
    <h3>Hard Skills & Soft Skills</h3>
    <i class="fa fa-plus align-self-center"></i>
  </div>
</section>

<!--PROYECTOS-->
<section class="card m-2 p-4">
  <div class="d-flex justify-content-between my-2" id="projects">
    <h3>Proyectos</h3>
    <i class="fa fa-plus align-self-center"></i>
  </div>

  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <div class="mx-3">
        <a href=""><h4>Proyecto 1</h4></a>
        <p class="my-0 text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
          ut praesentium dolorem numquam veritatis quia.
        </p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
  <!--Entrada-->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex justify-content">
      <div class="mx-3">
        <a href=""><h4>Proyecto 2</h4></a>
        <p class="my-0 text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
          ut praesentium dolorem numquam veritatis quia.
        </p>
      </div>
    </div>
    <div class="d-flex">
      <i class="fas fa-edit mx-1"></i>
      <i class="fa fa-trash mx-1"></i>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
